<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Tailwind CSS -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="font-display">
    <div class="border-4 rounded-lg bg-white ">
        <div>
            
            <div id="font-bello-grosso">
                <div class="mx-auto text-center px-4 mt-12 text-5xl text-indigo-900 font-semibold">FAQ</div>
                <dl class="mt-8 mx-auto max-w-screen-sm lg:max-w-screen-lg flex flex-col lg:flex-row lg:flex-wrap">
                    <div class="lg:w-1/2">
                        <div class="question-and-answer select-none border-2 mx-8 my-3 px-6 py-4 rounded-lg text-xl group">
                            <dt class="question">
                                <div class="flex justify-between">
                                    <div class="text-indigo-800 font-semibold">
                                    Chi siete?
                                    </div>
                                </div>
                            </dt>
                            <dd class="mt-2 leading-snug text-gray-700">
                                Siamo una banda di bastardi, al soldo dell'Uomo Del Giappone.
                            </dd>
                        </div>
                    </div>
                    <div class="lg:w-1/2">
                        <div class="question-and-answer select-none border-2 mx-8 my-3 px-6 py-4 rounded-lg text-xl group">
                            <dt class="question">
                                <div class="flex justify-between">
                                    <div class="text-indigo-800 font-semibold">
                                        Perché questo progetto?
                                    </div>
                                   
                                </div>
                            </dt>
                            <dd class="mt-2 leading-snug text-gray-700">
                                Vogliamo respirare l'aria buona.
                            </dd>
                        </div>
                    </div>
                    <div class="lg:w-1/2">
                        <div class="question-and-answer select-none border-2 mx-8 my-3 px-6 py-4 rounded-lg text-xl group">
                            <dt class="question">
                                <div class="flex justify-between">
                                    <div class="text-indigo-800 font-semibold">
                                        Con chi lavorate?
                                    </div>
                                </div>
                            </dt>
                            <dd class="  mt-2 leading-snug text-gray-700">
                                Con altre bande di polli.
                            </dd>
                        </div>
                    </div>
                    <div class="lg:w-1/2">
                        <div class="question-and-answer select-none border-2 mx-8 my-3 px-6 py-4 rounded-lg text-xl group">
                            <dt class="question">
                                <div class="flex justify-between">
                                    <div class="text-indigo-800 font-semibold">
                                        Come posso contattarvi?
                                    </div>
                                </div>
                            </dt>
                            <dd class="mt-2 leading-snug text-gray-700">
                                Manda una mail a Gigi.
                            </dd>
                        </div>
                    </div>
                    <div class="lg:w-1/2">
                        <div class="question-and-answer select-none border-2 mx-8 my-3 px-6 py-4 rounded-lg text-xl group">
                            <dt class="question">
                                <div class="flex justify-between">
                                    <div class="text-indigo-800 font-semibold">
                                        Da dove prendete i dati?
                                    </div>
                                </div>
                            </dt>
                            <dd class="mt-2 leading-snug text-gray-700">
                                Da Sensor Community.
                            </dd>
                        </div>
                    </div>
                    <div class="lg:w-1/2">
                        <div class="question-and-answer select-none border-2 mx-8 my-3 px-6 py-4 rounded-lg text-xl group">
                            <dt class="question">
                                <div class="flex justify-between">
                                    <div class="text-indigo-800 font-semibold">
                                        Ammettetelo! Vi paga Soros!
                                    </div>
                                </div>
                            </dt>
                            <dd class="mt-2 leading-snug text-gray-700">
                                Gli abbiamo mandato una mail tempo fa, speriamo risponda...
                            </dd>
                        </div>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</body>
</html>