<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
      </head>
    <body>
        <div id="font-bello-grosso" class="text-center text-5xl sm:2xl font-black min-h-screen flex items-center justify-center">

            <div class="grid grid-cols-4 gap-2 text-gray-800">
          
              <div class="col-span-2 bg-white p-10 rounded">
                <img class="object-contain" width="40%" height="40%" src="/src/resources/img/tavola_disegno_1_copia_1000x.png" alt="mal d'aria 2021 locandina">
                <h1 class="text-center m-0 p-0">COMING SOON</h>
              </div>
              <div class="col-span-2 bg-white p-10 rounded">
                <img class="object-contain" width="40%" height="40%" src="/src/resources/img/tavola_disegno_1_copia_1000x.png" alt="mal d'aria 2021 locandina">
                <h1 class="text-center m-0 p-0">COMING SOON</h>
              </div>
              <div class="row-span-2 bg-white p-10 rounded">COMING SOON</div>
              <div class="row-span-2 bg-gray-300 p-10 rounded text-gray-500">3</div>
              <div class="row-span-2 bg-gray-300 p-10 rounded text-gray-500">4</div>
              <div class="row-span-2 bg-gray-300 p-10 rounded text-gray-500">5</div>
            </div>
          
          </div>
    </body>
</html>