<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- Tailwind CSS -->
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
      </head>
    <body>
      <h1  id="font-bello-grosso" class="text-center text-5xl sm:2xl text-indigo-900 font-black h-auto flex items-center justify-center">MAPPA</h1>

      <div id="font-bello-grosso" class="text-center text-5xl sm:2xl font-black min-h-screen flex items-center justify-center">

        <div class="grid grid-cols-3 gap-2 text-gray-800">
      
          <div class="bg-white p-10 rounded">
            <h1 class="text-center m-0 p-0">COMING SOON</h1>
          </div>
          <div class="bg-white p-10 rounded">
            <h1 class="text-center m-0 p-0">COMING SOON</h1>
          </div>
          <div class="bg-white p-10 rounded">
            <h1 class="text-center m-0 p-0">COMING SOON</h1>
          </div>
          <div class="bg-gray-300 p-10 rounded text-gray-500">
            <h1 class="text-center m-0 p-0">1</h1>
          </div>
          <div class="bg-gray-300 p-10 rounded text-gray-500">
            <h1 class="text-center m-0 p-0">2</h1>
          </div>
          <div class="bg-gray-300 p-10 rounded text-gray-500">
            <h1 class="text-center m-0 p-0">3</h1>
          </div>
        </div>
      
      </div>
      
      </div>
    </body>
</html>