<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind CSS -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="flex flex-wrap overflow-hidden h-auto">
        <div class="w-full overflow-hidden text-center justify-center">
            <h1 id="font-bello-grosso" class="text-center text-5xl sm:2xl font-black h-auto flex items-center justify-center">GLI ARTICOLI</h1>
        </div>
      
    </div>
    <div class="grid" id="posts" style="height: 70vh; overflow: auto; font-family: 'Poppins', sans-serif"></div>
</body>
</html>
